@model KiemTra.Models.HocPhan

@{
    ViewData["Title"] = "Chỉnh sửa học phần";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaHP" />
            <div class="form-group">
                <label asp-for="TenHP" class="control-label"></label>
                <input asp-for="TenHP" class="form-control" />
                <span asp-validation-for="TenHP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoTinChi" class="control-label"></label>
                <input asp-for="SoTinChi" class="form-control" />
                <span asp-validation-for="SoTinChi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoLuongDuKien" class="control-label"></label>
                <input asp-for="SoLuongDuKien" class="form-control" />
                <span asp-validation-for="SoLuongDuKien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

